# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# ignore scrapped data
scraped_data/
upload_log.txt
upload_history.json
upload_report.csv
upload_stats.json
upload_stats.log
